<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 3
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>login</title>
  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Login Form -->
        <form  [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="username" formControlName="username">
          <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password">
          <button class="button" class="fadeIn fourth" type="submit">Login in</button>
        </form>



      </div>
    </div>
  </body>
</html>
